**/__pycache__
*.log
*.pem
.ash_history
.bash_history
.cache
.dockerignore
.env
.env.*
.envs
.git
.gitignore
.local
.next
.pnpm-store
.pytest_cache
.ruff_cache
.venv
.vscode
Dockerfile.*
backend/data
backend/staticfiles
build
coverage
dist
docker
node_modules
npm-debug.log
venv
